footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%; 
    color: gray;
    background-color: #323946;
    height: 10vh;
}
.arrow{
    background-color: aqua;
    border: none;
    border-radius: 10px;
    width: 3%;
    cursor: pointer;
}
.arrow :hover{
    box-shadow: 0px 0px 10px 5px aqua;

}
button img{
    width: 100%;
}